.input {
    margin: 2rem auto;
    padding: 2rem;
    width: 90%;
    max-width: 30rem;
}

.input label {
    display: block;
    font-weight: bold;
    margin-bottom: .7rem;
}

.input input {
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: .1rem;
    margin-bottom: .7rem;
}

.input input:focus {
    outline: none;
    border-color: #074ea0;
}