.form {
   width: 400px;
   margin: 120px auto 0;
   padding: 25px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.block {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.inp-block label {
   display: block;
   font-size: 20px;
   margin-bottom: 10px;
   color: blue;
}

.inp-block input[type="text"],
.inp-block input[type="password"] {
   display: block;
   width: 300px;
   height: 35px;
   margin-bottom: 20px;
   border-radius: 10px;
   border: 1px solid green;
}

.inp-block input[type="date"] {
   width: 150px;
   height: 30px;
   margin-bottom: 15px;
}

.btn {
   cursor: pointer;
   font-size: 20px;
   letter-spacing: 5px;
   font-weight: bold;
   border-radius: 10px;
   padding: 7px 75px;
   background: rgb(46, 231, 87);
   border: 1px solid rgb(128, 128, 209);
   transition: .3s;
}

.btn:hover {
   background: rgb(91, 233, 122);
   border: 1px solid rgb(117, 124, 185);
   color: rgb(112, 110, 110);
}