@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background-color: #f7f7f7;
}

main {
  margin-top: 10rem;
  text-align: center;
}

h1,
h2,
h3,
p {
  color: #f48405;
}